<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digsol.turnomed.mappers.UsersMapper">
    <resultMap id="BaseResultMap" type="com.digsol.turnomed.model.Users">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="first_name" jdbcType="VARCHAR" property="firstName"/>
        <result column="middle_name" jdbcType="VARCHAR" property="middleName"/>
        <result column="last_name" jdbcType="VARCHAR" property="lastName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="reg_status" jdbcType="INTEGER" property="reg_status"/>
        <result column="date_reg" jdbcType="TIMESTAMP" property="date_reg"/>
        <result column="date_confirm" jdbcType="TIMESTAMP" property="date_confirm"/>

    </resultMap>
    <sql id="Base_Column_List">
        id, first_name, middle_name, last_name, email, password, reg_status, date_reg, date_confirm
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getUserByEmail" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users where email = #{email,jdbcType=VARCHAR}
    </select>
    <select id="listAllUsers" resultType="com.digsol.turnomed.model.Users" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from users
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.digsol.turnomed.model.Users" useGeneratedKeys="true" keyColumn="id" keyProperty="record.id">
        <selectKey order="AFTER" keyProperty="id" resultType="int">
            select currval('users_id_seq')
        </selectKey>
        insert into users (id, first_name, middle_name,
                           last_name, email, password, reg_status, date_reg, date_confirm
        )
        values (DEFAULT , #{firstName,jdbcType=VARCHAR}, #{middleName,jdbcType=VARCHAR},
                #{lastName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}
              , #{password,jdbcType=VARCHAR}
              , #{reg_status,jdbcType=INTEGER}
              , #{date_reg,jdbcType=TIMESTAMP}
              , #{date_confirm,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.digsol.turnomed.model.Users">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="firstName != null">
                first_name,
            </if>
            <if test="middleName != null">
                middle_name,
            </if>
            <if test="lastName != null">
                last_name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="reg_status != null">
                reg_status,
            </if>
            <if test="date_reg != null">
                date_reg,
            </if>
            <if test="date_confirm != null">
                date_confirm,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="firstName != null">
                #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="middleName != null">
                #{middleName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="reg_status != null">
                #{reg_status,jdbcType=INTEGER},
            </if>
            <if test="date_reg != null">
                #{date_reg,jdbcType=TIMESTAMP},
            </if>
            <if test="date_confirm != null">
                #{date_confirm,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.digsol.turnomed.model.Users">
        update users
        <set>
            <if test="firstName != null">
                first_name = #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="middleName != null">
                middle_name = #{middleName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                last_name = #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="reg_status != null">
                reg_status = #{reg_status,jdbcType=INTEGER},
            </if>
            <if test="date_reg != null">
                date_reg = #{date_reg,jdbcType=TIMESTAMP},
            </if>
            <if test="date_confirm != null">
                date_confirm = #{date_confirm,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.digsol.turnomed.model.Users">
        update users
        set first_name   = #{firstName,jdbcType=VARCHAR},
            middle_name  = #{middleName,jdbcType=VARCHAR},
            last_name    = #{lastName,jdbcType=VARCHAR},
            email        = #{email,jdbcType=VARCHAR},
            password     = #{password,jdbcType=VARCHAR},
            reg_status   = #{reg_status,jdbcType=INTEGER},
            date_reg     = #{date_reg,jdbcType=TIMESTAMP},
            date_confirm = #{date_confirm,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>